<div :if={@live_action == :present}>
  <.button
    data-id="change-slide-prev"
    phx-click="change-slide"
    phx-value-direction="prev"
    type="button"
  >
    Previous Slide
  </.button>

  <.button
    data-id="change-slide-next"
    phx-click="change-slide"
    phx-value-direction="next"
    type="button"
  >
    Next Slide
  </.button>
</div>

<div>
  <%= @body %>
</div>
