<.flash_group flash={@flash} />
<div class="px-4 py-10 sm:px-6 sm:py-28 lg:px-8 xl:px-28 xl:py-32">
  <div class="mx-auto max-w-xl lg:mx-0">
    <h1 class="text-[2rem] mt-10 flex items-center font-semibold leading-10">
      Live Slides
    </h1>
    <p class="mt-4 text-base leading-7">
      Build slide decks using Markdown.
      Present and share them with a link so your audience can follow your slides, right in their own browser.
    </p>
  </div>
</div>
